
@{
    ViewBag.Title = "Index";
}

<h2>Finanzas</h2>
<div class="responsive">
    <iframe width="1520" height="730" src="https://datastudio.google.com/embed/reporting/3dd46810-b8cc-4670-8bbe-70ffdc3b9f3b/page/p_ydfijtms0c" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
