
@{
    ViewBag.Title = "Index";
}

<h2>Finanzas</h2>

<iframe title="dashboard" width="1450" height="800" src="https://app.powerbi.com/reportEmbed?reportId=d0772913-92d4-462d-94c8-50b54e3299d1&autoAuth=true&ctid=ff1cb486-d912-49e3-9434-122e9c45895e" frameborder="0" allowFullScreen="true"></iframe>